:root {
    --font-family: "Nunito", sans-serif;
    --light-gray: #E1E1E1;
    --hard-gray: #A3A3A3;
    --line-gray: #d4d4d4dc;
    --medium-gray: #A3A3A3;
    --hard-yellow: #FFAC2B;
    --light-yellow: #FFDDA9;
    --hard-purple: #BC4ED8;
    --light-purple: #F5CDFF;
    --text-black: #515151;
  }
  
  * {
    font-family: var(--font-family);
  }
  
  body{
    
    margin: 0 auto;
    overflow-x: hidden;
  }
  
  header{
    padding: 25px 10px;
    border-bottom: 2px solid var(--line-gray);
   
  }
  
  header div{
    max-width: 1300px;
    margin: 0 auto;
  }
  
  .button-border-yellow{
    padding: 6px 40px;
    border: 4px solid var(--light-yellow);
    color: var(--hard-yellow);
    font-weight: 900;
    border-radius: 80px;
    font-size: 33px;
    background-color: white;
    margin-top: 20px;
  }
  
  .button-yellow{
    padding: 6px 23px;
    border:none;
    color: var(--hard-yellow);
    font-weight: 900;
    border-radius: 80px;
    font-size: 23px;
    background-color: white;
  }
  
  .button-purple{
    background-color: var(--hard-purple);
    border-radius: 80px;
    font-size: 37px;
    padding: 6px 25px;
    color: white;
    border: none;
    width: 420px;
    font-weight: 900;
    margin: 0 auto;
  }

  .button-purple-large{
    background-color: var(--hard-purple);
    border-radius: 80px;
    font-size: 42px;
    padding: 8px 40px;
    color: white;
    border: none;
    width: 500px;
    font-weight: 900;
    margin: 2.5rem auto 2.5rem auto;
  }
  
  
  main{
    max-width: 1400px;
    margin: 0 auto;
    padding: 110px 20px 150px 20px;
  }

  
  .purple{
    color: var(--hard-purple);
  }
  
  .yellow{
    color: var(--hard-yellow);
  }
  

  .img-container img{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  

  .purple-text{
    max-width: 1200px;
    margin-bottom: 60px;
  }

  .purple-text h1{
    font-size: 68px;
    font-weight: 900;
    color: var(--hard-purple);
    text-align: center;
  }
  
  .footer-container{
    height: 610px;
    background-color: var(--hard-purple);
    margin-top: -34.5vw;
    width: 100%;
  }
  
  footer img{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .footer-container img{
    width: 510px;
    height: 98px;
    margin: 0 auto;
    
  }

  .footer-itens{
    margin-top: 100px;
    width: 100%;
    max-width: 1400px;
    padding: 0px 40px;
  }

  .footer-itens .list h3{
    font-size: 38px;
    color: var(--light-purple);
    font-weight: 900;
    margin-bottom: 15px;
  }

  .footer-itens .list p{
    font-size: 34px;
    color:#F5CDFF;
    font-weight: 900;
  }

  .swiper-wrapper{
    display: flex;
    flex-direction: row;
    margin: 100px 0px;
  }

  .swiper{
    display: flex;
    flex-direction: row;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .card-carrousel{
    margin-bottom: 90px;
  }

  .card-carrousel img {
  
    width: 530px;
    height: 540px;
    object-fit: cover;
  }

  
  .equipe-carrousel{
    margin: 15px 0px 120px 0px;
  }
  
  h1.equipe{
      font-size: 87px;
      font-weight: 900;
      color: var(--hard-purple);
      text-align: center;
  }
