:root {
    --font-family: "Nunito", sans-serif;
    --light-gray: #E1E1E1;
    --hard-gray: #A3A3A3;
    --line-gray: #d4d4d4dc;
    --medium-gray: #A3A3A3;
    --hard-yellow: #FFAC2B;
    --light-yellow: #FFDDA9;
    --hard-purple: #BC4ED8;
    --text-black: #515151;
  }

* {
    font-family: var(--font-family);
  }

  body{
    
    margin: 0 auto;
    padding-bottom: 100px;

  }

  header{
    padding: 45px 10px 10px 10px;
    border-bottom: 2px solid var(--line-gray);
   
  }

  header div{
    max-width: 1250px;
    margin: 0 auto;
  }

  header h1{
    color: var(--medium-gray);
    font-weight: 700;
    font-size: 60px;
  }

 .yellow{
    border: none;
    color: var(--hard-yellow);
    font-weight: 900;
    font-size: 33px;
    background-color: transparent;
  }


  button:hover{
    transform: scale(1.06);
    transition: 300ms;
  }

  .button-red{
    background-color: #FF2A2A;
    border-radius: 30px;
    font-size: 35px;
    padding: 14px 15px;
    color: white;
    border: none;
    width: 520px;
    font-weight: 700;

  }

  .button-grey{
    background-color: #A3A3A3;
    border-radius: 30px;
    font-size: 34px;
    padding: 15px 0px;
    color: white;
    border: none;
    width: 520px;
    font-weight: 700;

  }



  main{
    max-width: 800px;
    padding: 50px 10px;
    margin: 0 auto;
  }

  main h3{

    font-family: 'Nunito';
    color: black;
    font-size: 40px;
    font-weight: 900;

  }

  .circle-dotted{

    width: 165px;
    height: 165px;
    border-radius: 50%;
    border: 2px dotted black;

  }

  .icon-pencil{
    margin-left: -44px;
    font-size: 32px;
    color: var(--medium-gray);
    color: white;
    background-color: #FF2A2A;
    padding: 10px;
    border-radius: 50%;
  }

  form{
    padding: 20px 0px;
  }

  form h2{
    font-weight: 900;
    font-size: 42px;
    margin: 100px 0px 15px 0px;
  }

  form label{
    font-family: 'Nunito';
    color: black;
    font-size: 40px;
    font-weight: 900;
    margin-left: 12px;
  }

  form input.gray{
    border-radius: 20px;
    border: 4px solid var(--light-gray);
    background-color:#e9e7e7  ;
    font-size: 37px;
    padding: 5px 10px;
    width: 693px;
    color: var(--hard-gray);
    font-family: 'Nunito';
    font-weight: 900;
  }

  form input.password{
    border-radius: 20px;
    border: none;
    background-color:#e9e7e7 ;
    font-size: 37px;
    padding: 5px 10px;
    width: 623px;
    color: var(--hard-gray);
    font-family: 'Nunito';
    font-weight: 900;
    margin-right: 12px;
  }

  .group-input{
    border-radius: 20px;
    border: 4px solid var(--light-gray);
    background-color:#e9e7e7  ;
    padding: 0.5px 15px 0.5px 0.5px;
  }

  .icon-password{
    font-size: 45px;
    color: #699BF7;
    cursor: pointer;
  }

  form input::placeholder{
    color: var(--hard-gray);
    font-family: 'Nunito';
    font-weight: 900;
    font-size: 37px;
  }

  form p{
    color: var(--hard-purple);
    font-weight: 700;
    font-size: 36px;
    margin-top: 30px;
  }


  .buttons-container{

    padding: 30px 40px;
    width: 100%;
  }
  

  .line{
    color: var(--line-gray);
    width: 95%;
    height: 4px;
    background-color: var(--line-gray);
    border-radius: 1px;
  }

  .progress-bar {
    width: 240px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .progress-bar-fill {
    height: 100%;
    background-color: var(--hard-purple);
    transition: width 0.2s;
  }
  